<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" ng-app="NarrativeRoulette">
  <head>
    <title>Narrative Roulette</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/ngProgress.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <!-- Facebook OG meta tags -->
    <meta property="og:title" content="Narrative Roulette" /> 
    <meta property="og:site_name" content="Narrative Roulette" />
    <meta property="fb:app_id" content="629563240412158" /> 
    <meta property="og:image" content="http://narrativeroulette.com/img/typewriter_fb.jpg" /> 
    <meta property="og:description" content="Write an anonymous narrative from a perspective radically different from your own. See the world through another pair of eyes and the effect might last longer than the time you spend on the page." /> 
    <meta property="og:url" content="http://narrativeroulette.com">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("0fc8009f5556f248f7e5b09d5bbda074");</script><!-- end Mixpanel -->

    <!-- Data injected from the server -->
    <div id="latest-round-data" data-latest-round='{{ latest_round|tojson|safe }}'></div>
  </head>
  <body>
    <header class="cover">
      <div class="image-darken"></div>
      <div class="container">
        <a href="#/"><h1 class="shadow">Narrative Roulette</h1></a>
        <h2 class="shadow">Kungsholmens Gymnasium</h2>
      </div>
    </header>
    <nav class="cover">
      <div class="container">
        <a href="#/write">Write</a>
        <!-- <a href="#/display">Roulette</a> -->
        <a href="#/read">Read</a>
      </div>
    </nav>
    <div id="ie-banner" class="alert alert-danger"><div class="container">This website doesn't work in Internet Explorer. Use <a href="https://www.google.com/chrome">Google Chrome</a> instead.</div></div>
    <!-- Facebook SDK -->
    <div id="fb-root"></div>
    <div class="container">
      <div ng-view></div>
    </div>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47427187-1', 'narrativeroulette.com');
      // ga('send', 'pageview');

    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/lib/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/lib/bootstrap.js"></script>
    <!-- moment.js -->
    <script src="js/lib/moment.js"></script>
    <script src="js/lib/moment-timezone.js"></script>
    <script src="js/lib/moment-timezone-data.js"></script>
    <!-- Angular -->
    <script src="js/lib/angular.js"></script>
    <script src="js/lib/angular-route.js"></script>
    <script src="js/lib/angular-contenteditable.js"></script>
    <script src="js/lib/angular-local-storage.js"></script>
    <script src="js/lib/ngProgress.js"></script>
    <script src="js/lib/ngFacebook.js"></script>
    <script src="js/lib/angulartics.min.js"></script>
    <script src="js/lib/angulartics-ga.min.js"></script>
    <script src="js/lib/angulartics-mixpanel.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/WriteCtrl.js"></script>
    <script src="js/DisplayCtrl.js"></script>
    <script src="js/SubmissionListCtrl.js"></script>
    <script src="js/SubmissionsCtrl.js"></script>
    <script src="js/SubmissionCtrl.js"></script>
    <!-- Other JS -->
    <script src="js/lib/bowser.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        if (bowser.msie) {
          $("#ie-banner").show();
        }
      });
    </script>
  </body>
</html>
