<div class="display row">
  <div class="col-md-12">
    <div class="pull-left col-md-6">
      <div class="round current-round">
        <h2>Current: Round {{latest_round.id}}</h2>
        <h3 class="perspective gender">You are <span ng-class="latest_round.perspective.gender">{{latest_round.perspective.gender}}</span>.</h3> 
        <h3 class="perspective text">{{latest_round.perspective.text}}</h3>
        <p class="time-elapsed">Started {{elapsed_time}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <hr/>
  </div>
  <div class="col-md-12">
    <div class="pull-left col-md-6">
      <div class="round new-round">
        <h2>Start New Round</h2>
        <h3 class="perspective gender">You are <span ng-class="random_perspective.gender">{{random_perspective.gender}}</span>.</h3> 
        <h3 class="perspective text">{{random_perspective.text}}</h3>
        <div class="buttons">
          <button class="btn btn-primary spin-roulette" ng-click="get_random_perspective()">Spin Roulette</button>
          <button class="btn btn-success start-round" ng-click="post_new_round()">Start round</button>
        </div>
      </div>
    </div>
  </div>
</div>
