<div class="write">
  <div class="row">
    <div class="col-md-8">
      <p class="perspective">Imagine this:</p>
      <p class="perspective gender">You are <span ng-class="perspective.gender">{{perspective.gender}}</span>.</p> 
      <p class="perspective text">{{perspective.text}}</p>
      <p class="perspective teaser">What's going through your head?</p>
      <div class="submission" ng-model="submission.text" autofocus="true" strip-br="true" contenteditable="true"></div>
      <div class="buttons">
        <p>All submissions are anonymous.</p>
        <!-- <button class="btn btn-large" ng-click="get_random_perspective()">Another perspective</button> -->
        <button class="btn btn-large btn-success" ng-disabled="submission.text.length == 0" ng-click="submit_clicked(submit_count)">
          <span ng-if="submit_count == 0">Publish</span>
          <span ng-if="submit_count == 1">Are you sure?</span>
          <span ng-if="submit_count >= 2">Published!</span>
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="round">
        <p class="round-id">Round {{latest_round.id}}</p>
        <p class="time-elapsed"> Started {{elapsed_time}} </p>
      </div>
    </div>
  </div>
</div>
